.data{
    margin-top: 50px;
}
/* Ajoutez ce style à votre fichier CSS */
.bg-primary-100 {
    background-color: #e5f4ff;
}

.text-primary-800 {
    color: #0056b3;
}

.bg-primary-600 {
    background-color: #007bff;
}

.text-primary-600 {
    color: #007bff;
}

/* Cache la barre de défilement dans Webkit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Cache la barre de défilement dans IE, Edge et Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE et Edge */
    scrollbar-width: none;  /* Firefox */
  }
  